includes:
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - tools/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - app
    - config
    - database
    - lang
    - resources
    - routes
    - tests
  checkMissingCallableSignature: true
  disallowedFunctionCalls:
    -
      function: 'abort()'
      message: 'abort() is banned, use throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'abort_if()'
      message: 'abort_if() is banned, use throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'abort_unless()'
      message: 'abort_unless() is banned, use throw new Symfony\Component\HttpKernel\Exception\HttpException() instead'
    -
      function: 'action()'
      message: 'action() is banned, use resolveUrlFactory()->action() instead'
    -
      function: 'app()'
      message: 'app() is banned, use resolveApp() instead'
    -
      function: 'app_path()'
      message: 'app_path() is banned, use resolveApp()->path() instead'
    -
      function: 'asset()'
      message: 'asset() is banned, use resolveUrlFactory()->asset() instead'
    -
      function: 'auth()'
      message: 'auth() is banned, use resolveAuthManager() instead'
    -
      function: 'back()'
      message: 'back() is banned, use resolveRedirector()->back() instead'
    -
      function: 'base_path()'
      message: 'base_path() is banned, use resolveApp()->basePath() instead'
    -
      function: 'bcrypt()'
      message: 'bcrypt() is banned, use resolveHasher()->make() instead'
    -
      function: 'broadcast()'
      message: 'broadcast() is banned, use resolveBroadcastManager()->broadcast() instead'
    -
      function: 'cache()'
      message: 'cache() is banned, use resolveCacheManager()->get() instead'
    -
      function: 'config()'
      message: 'config() is banned, use mustConfigXxx(), configXxx() instead, example mustConfigString() or configString()'
    -
      function: 'config_path()'
      message: 'config_path() is banned, use resolveApp()->configPath() instead'
    -
      function: 'cookie()'
      message: 'cookie() is banned, use resolveCookieJar()->make() instead'
    -
      function: 'csrf_field()'
      message: 'csrf_field() is banned, use @csrf'
    -
      function: 'csrf_token()'
      message: 'csrf_token() is banned, use resolveSession()->token() instead'
    -
      function: 'database_path()'
      message: 'database_path() is banned, use resolveApp()->databasePath() instead'
    -
      function: 'decrypt()'
      message: 'decrypt() is banned, use resolveEncrypter()->decrypt() instead'
    -
      function: 'dispatch()'
      message: 'dispatch() is banned, use resolveBus()->dispatch() instead'
    -
      function: 'dispatch_sync()'
      message: 'dispatch_sync() is banned, use resolveBus()->dispatchSync() instead'
    -
      function: 'dispatch_now()'
      message: 'dispatch_now() is banned, use resolveBus()->dispatchNow() instead'
    -
      function: 'encrypt()'
      message: 'encrypt() is banned, use resolveEncrypter()->encrypt() instead'
    -
      function: 'event()'
      message: 'event() is banned, use resolveEventDispatcher()->dispatch() instead'
    -
      function: 'info()'
      message: 'info() is banned, use resolveLogger()->info() instead'
    -
      function: 'logger()'
      message: 'logger() is banned, use resolveLogger() instead'
    -
      function: 'lang_path()'
      message: 'lang_path() is banned, use resolveApp()->langPath() instead'
    -
      function: 'logs()'
      message: 'logs() is banned, use resolveLogger() instead'
    -
      function: 'method_field()'
      message: 'method_field() is banned, use @method'
    -
      function: 'mix()'
      message: 'mix() is banned, use inject(\Illuminate\Foundation\Mix::class) instead'
    -
      function: 'now()'
      message: 'now() is banned, use Illuminate\Support\Carbon::now() instead'
    -
      function: 'old()'
      message: 'old() is banned, use resolveRequest()->old() instead'
    -
      function: 'policy()'
      message: 'policy() is banned, use resolveGate()->getPolicyFor() instead'
    -
      function: 'public_path()'
      message: 'public_path() is banned, use resolveApp()->publicPath() instead'
    -
      function: 'redirect()'
      message: 'redirect() is banned, use resolveRedirector()->to() instead'
    -
      function: 'report()'
      message: 'report() is banned, use resolveExceptionHandler()->report() instead'
    -
      function: 'request()'
      message: 'request() is banned, use resolveRequest() instead'
    -
      function: 'rescue()'
      message: 'rescue() is banned, use try {} catch {} instead'
    -
      function: 'resolve()'
      message: 'resolve() is banned, use inject() instead'
    -
      function: 'resource_path()'
      message: 'resource_path() is banned, use resolveApp()->resourcePath() instead'
    -
      function: 'response()'
      message: 'response() is banned, use resolveResponseFactory()->make() instead'
    -
      function: 'route()'
      message: 'route() is banned, use resolveUrlFactory()->route() instead'
    -
      function: 'secure_asset()'
      message: 'secure_asset() is banned, use resolveUrlFactory()->secureAsset() instead'
    -
      function: 'secure_url()'
      message: 'secure_url() is banned, use resolveUrlFactory()->secure() instead'
    -
      function: 'session()'
      message: 'session() is banned, use resolveSession()->get() instead'
    -
      function: 'storage_path()'
      message: 'storage_path() is banned, use resolveApp()->storagePath() instead'
    -
      function: 'to_route()'
      message: 'to_route() is banned, use resolveRedirector()->route() instead'
    -
      function: 'today()'
      message: 'today() is banned, use Illuminate\Support\Carbon::today() instead'
    -
      function: 'trans()'
      message: 'trans() is banned, use mustTransString(), mustTransJsonString(), mustTransArray() instead'
    -
      function: 'trans_choice()'
      message: 'trans_choice() is banned, use resolveTranslator()->choice() instead'
    -
      function: '__()'
      message: '__() is banned, use mustTransString(), mustTransJsonString(), mustTransArray() instead'
    -
      function: 'url()'
      message: 'url() is banned, use resolveUrlFactory()->to() instead'
    -
      function: 'validator()'
      message: 'validator() is banned, use resolveValidatorFactory()->make() instead'
    -
      function: 'view()'
      message: 'view() is banned, use resolveViewFactory()->make() instead'
  disallowedNamespaces:
    -
      namespace: 'Illuminate\Support\Facades\App'
      message: 'Illuminate\Support\Facades\App is banned, use resolveApp() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Artisan'
      message: 'Illuminate\Support\Facades\Artisan is banned, use resolveArtisan() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Auth'
      message: 'Illuminate\Support\Facades\Auth is banned, use resolveAuthManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Blade'
      message: 'Illuminate\Support\Facades\Blade is banned, use resolveBlade() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Broadcast'
      message: 'Illuminate\Support\Facades\Broadcast is banned, use resolveBroadcastManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Bus'
      message: 'Illuminate\Support\Facades\Bus is banned, use resolveBus() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Cache'
      message: 'Illuminate\Support\Facades\Cache is banned, use resolveCacheManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Config'
      message: 'Illuminate\Support\Facades\Config is banned, use resolveConfig() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Cookie'
      message: 'Illuminate\Support\Facades\Cookie is banned, use resolveCookieJar() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Crypt'
      message: 'Illuminate\Support\Facades\Crypt is banned, use resolveEncrypter() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Date'
      message: 'Illuminate\Support\Facades\Date is banned, use Illuminate\Support\Carbon::xxx() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\DB'
      message: 'Illuminate\Support\Facades\DB is banned, use resolveDatabaseManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Event'
      message: 'Illuminate\Support\Facades\Event is banned, use resolveEventDispatcher() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\File'
      message: 'Illuminate\Support\Facades\File is banned, use resolveFilesystem() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Gate'
      message: 'Illuminate\Support\Facades\Gate is banned, use resolveGate() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Hash'
      message: 'Illuminate\Support\Facades\Hash is banned, use resolveHashManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Http'
      message: 'Illuminate\Support\Facades\Http is banned, use resolveHttp() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Lang'
      message: 'Illuminate\Support\Facades\Lang is banned, use resolveTranslator() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Log'
      message: 'Illuminate\Support\Facades\Log is banned, use resolveLogger() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Mail'
      message: 'Illuminate\Support\Facades\Mail is banned, use resolveMailManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Notification'
      message: 'Illuminate\Support\Facades\Notification is banned, use resolveNotificator() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\ParallelTesting'
      message: 'Illuminate\Support\Facades\ParallelTesting is banned, use resolveParallelTesting() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Password'
      message: 'Illuminate\Support\Facades\Password is banned, use resolvePasswordBrokerManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Queue'
      message: 'Illuminate\Support\Facades\Queue is banned, use resolveQueueManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\RateLimiter'
      message: 'Illuminate\Support\Facades\RateLimiter is banned, use resolveRateLimiter() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Redirect'
      message: 'Illuminate\Support\Facades\Redirect is banned, use resolveRedirector() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Redis'
      message: 'Illuminate\Support\Facades\Redis is banned, use resolveRedisManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Request'
      message: 'Illuminate\Support\Facades\Request is banned, use resolveRequest() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Response'
      message: 'Illuminate\Support\Facades\Response is banned, use resolveResponseFactory() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Route'
      message: 'Illuminate\Support\Facades\Route is banned, use resolveRouter() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Session'
      message: 'Illuminate\Support\Facades\Session is banned, use resolveSession() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Schema'
      message: 'Illuminate\Support\Facades\Schema is banned, use resolveSchema() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Storage'
      message: 'Illuminate\Support\Facades\Storage is banned, use resolveFilesystemManager() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\URL'
      message: 'Illuminate\Support\Facades\URL is banned, use resolveUrlFactory() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\Validator'
      message: 'Illuminate\Support\Facades\Validator is banned, use resolveValidatorFactory() instead'
      allowIn:
        - tests/*
    -
      namespace: 'Illuminate\Support\Facades\View'
      message: 'Illuminate\Support\Facades\View is banned, use resolveViewFactory() instead'
      allowIn:
        - tests/*
