<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertDeprecationsToExceptions="true"
  failOnIncomplete="true"
  failOnRisky="true"
  failOnSkipped="true"
  failOnWarning="true"
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  verbose="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <php>
    <env name="APP_NAME" value="'Feature test'" />
    <env name="APP_ENV" value="'testing'" />
    <env name="APP_URL" value="'http://localhost:8000'" />
    <env name="SPA_URL_CS" value="'http://localhost:8000'" />
    <env name="SPA_URL_EN" value="'http://localhost:8000'" />
    <env name="APP_KEY" value="'base64:k7XaOGDe52ZOY2P77nbS6P1p7b/mMHL+aN0jzV+Usdw='" />

    <env name="DB_DATABASE" value="'laratchi_boilerplate_testing'" />

    <env name="MAIL_FROM_ADDRESS" value="'hello@localhost:8000'" />
    <env name="MAIL_FROM_NAME" value="'Feature test'" />

    <env name="TELESCOPE_ENABLED" value="false" />
    <env name="SCOUT_DRIVER" value="'collection'" />
  </php>
</phpunit>
